@charset "utf-8";

nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #f4c817;
    padding: 10px 8px; /* 内側の余白を追加 */
    border-radius: 8px; /* 角丸にする */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

nav.floating li {
    color: #333; /* リンクの色 */
    text-decoration: none; /* 下線をなくす */
    font-weight: bold; /* 太字 */
    margin-right: 15px; /* リンク間の間隔 */
    transition: color 0.3s ease; /* 色の変化を滑らかにする */
}

nav.floating li:hover {
    color: #16cfd9; /* ホバー時の色 */
}


.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/index/bg_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 15px;
    color: #f7f1a4;
    font-weight: bold;
    text-shadow: 1px 1px 10px #2423238c;
    text-align: center; /* テキストを中央揃えにする */
}


.first-view-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 50px;
}

.first-view-text p {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px; /* 左に20pxの空白を追加 */
    margin-top: 50px;
    margin-bottom: 25px; /* 下に20pxの空白を追加 */
}

.lead {
    max-width: 1200px;
    margin: 60px auto;
}

.body-site-menu {
    display: flex;
    justify-content: center;
}

.site-menu-middle ul {
    list-style-type: none; /* リストのマーカーを消去 */
    padding: 10px 0; /* 上下の余白を設定 */
    text-align: center; /* テキストを中央揃えにする */
}

.site-menu-middle li {
    margin: 0; /* リスト項目間の余白をリセット */
    font-size: 30px;
    text-decoration-line: underline; /* 下線を引く */
    text-decoration-color: rgb(243, 243, 247); /* 下線の色を青にする */
    font-weight: bold;
    color: #f7f1a4;
    text-shadow: 1px 1px 10px #faf7f78c;
}

.site-menu-middle a {
    text-decoration: none; /* リンクの下線を消去 */
    color: #836816; /* リンクの色を設定 */
    padding: 20px 20px; /* 上下のパディングを設定 */
    display: block; /* リンクをブロックレベル要素にする */
}



.site-menu-game {
    padding: 0.5em 1em;
    list-style-type: none; /* リストのマーカーを削除 */
    display: flex; /* フレックスボックスを使用して子要素を横方向に配置 */
    justify-content: center; /* 子要素を中央に配置 */
    flex-wrap: wrap; /* 子要素が折り返されるようにする */
}

.site-menu-game li {
    font-size: 18px;
    margin: 20px; /* 項目間の余白を調整 */
    text-align: center;
    border-radius: 50%; /* 丸い形にする */
    width: 170px; /* 背景の幅を設定 */
    height: 130px; /* 背景の高さを設定 */
    display: flex; /* 子要素を中央に配置するためにflexを使用 */
    align-items: center; /* 子要素を縦方向に中央揃え */
    justify-content: center; /* 子要素を横方向に中央揃え */
    border: 2px solid #ff03b8; /* 外枠の色と太さを設定 */
    color: #000; /* テキストの色を黒に設定 */
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
}






*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 16pt;
    color: #000000;
    line-height: 1;
    background: linear-gradient(-20deg, #e7f737 0%, #614d02 100%);
}

img {
    max-width: 100%;
}

.header-inner {
    max-width: auto;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block;
    width: 170px;
}

.header-logo-text li{
    font-size: 25px;
    margin: 120px;
    text-align: left;
    color: #f968de;
    font-weight: bold;
    text-shadow: 1px 1px 10px #5e5654;
}

.site-menu ul {
    display: flex;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li a {
    font-family: 'Cherry Bomb One', cursive;
}

.header {
    width: 100%;
    background-color: #f1f5f5;
}

@media (max-width: 800px) {
    .site-menu ul {
        display: block;
        text-align: center;
    }

    .site-menu li {
        margin-top: 20px;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ffffff;

        height: 50px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header-logo {
        width: 50px;
    }

    .header-site-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #ffffff;
        background-color: #736e62;
        padding-top: 30px;
        padding-bottom: 50px;
        display: none;
    }

    .header-site-menu.is-show {
        display: block;
    }

    .main {
        padding-top: 50px;;
    }

    .footer-logo {
        margin-top: 60px;
    }

    .copyright {
        margin-top: 50px;
    }

    .toggle-menu-button {
        display: block;
        width: 44px;
        height: 34px;
        background-image: url(../images/common/icon-menu.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .footer {
        color: #ffffff;
        background-color: #24211b;
        padding-top: 30px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo {
        display: block;
        width: 235px;
        margin-top: 90px;
    }
    
    .copyright {
        font-size: 14pt;
        font-weight: bold;
        margin-top: 90px;
    }
    
    .header-logo-text li{
        font-size: 15px;
        margin: 25px;
        text-align: left;
        color: #f968de;
        font-weight: bold;
        text-shadow: 1px 1px 10px #5e5654;
    }
    
    .first-view-text {
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 40px;
        padding-bottom: 15px;
        color: #f7f1a4;
        font-weight: bold;
        text-shadow: 1px 1px 10px #2423238c;
    }
    
    .first-view-text h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        line-height: 40px;
    }
    
    .first-view-text p {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px; /* 左に20pxの空白を追加 */
        margin-top: 50px;
        margin-bottom: 25px; /* 下に20pxの空白を追加 */
    }
    
    .lead {
        font-size: 18px;
    }
    
    nav.floating {
        position: absolute;
        font-size: 13px;
        top: 50px;
        left: 20px;
        background-color: #f4c817;
        padding: 5px 5px; /* 内側の余白を追加 */
        border-radius: 8px; /* 角丸にする */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
    }
    
    nav.floating li {
        color: #333; /* リンクの色 */
        text-decoration: none; /* 下線をなくす */
        font-weight: bold; /* 太字 */
        margin-right: 15px; /* リンク間の間隔 */
        transition: color 0.3s ease; /* 色の変化を滑らかにする */
    }
    
    nav.floating li:hover {
        color: #16cfd9; /* ホバー時の色 */
    }

}

