@charset "utf-8";

nav.floating li {
  color: #d4ff00; 
  text-decoration: none; 
  font-weight: bold; 
  margin-right: 15px; 
  transition: color 0.3s ease; 
}

nav.floating li:hover {
  color: #16cfd9; 
}

.header-inner {
  max-width: auto;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 50px;
}

.header-logo img {
  width: 75px; 
  height: auto; 
}


.header-logo-text {
  flex: 1; 
  text-align: center; 
}

.header-logo-text li{
  font-size: 35px;
  text-align: center;
  color: #f968de;
  font-weight: bold;
  text-shadow: 1px 1px 10px #5e5654;
  display: inline-block; 
}


.header {
  width: 100%;
  background: rgb(93,87,8);
  background: radial-gradient(circle, rgba(93,87,8,1) 8%, rgba(74,53,10,1) 35%);
  border: 4px solid #0c0c0c; 
  border-radius: 10px; 
}



body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2em;
  font-size: 1em;
  background: #eee;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1em;
}



h1 {
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0 0 .5em 0;
}

h3 {
  margin: 0;
  padding-top: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

.img-info {
  display: inline-block;
  width: 1.15em;
  margin-bottom: -3px;
}

.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* -- flex -- */

.flex-parent {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.flex-container {
  flex: 1 1 auto;
  justify-content: center;
}


.flex-nav-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item-1 {
  display: flex;
  flex-direction: row;
}

.footer {
  text-align: center; 
  background-color: #06080c;
  background-image: linear-gradient(0deg, #06080c 12%, #565f3d 50%, #040303 93%);    
  margin-top: 80px; 
  padding: 20px; 
}

.site-menu ul {
  list-style-type: none; 
  padding: 0; 
}

.site-menu li {
  margin-bottom: 10px; 
  text-shadow: 1px 1px 10px #706f6f8c;
  font-size: 20px;
}



.site-menu a {
  display: block; 
  text-decoration: none; 
  color: #f7f6f6; 
  padding: 10px; 
}



@media screen and (max-width: 00px) {
  .separator {
    height: 0;
    width: 100%;
    flex-basis: 100%;
    background-color: blue;
    order: 2;
  }

  .item-1 {
    order: 3;
    margin-top: 2.5em;
  }

}

/* --  page default -- */

#page {
  margin: 20px;
}

#nav {
  width: 100%;
  margin-bottom: 20px;
  vertical-align: top;
}


.title {
  width: 100%;
  left: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 30px;
  color: grey;
}

.content {
  margin: 20px 0 0 0;
  background: white;
  padding: 20px;
  border-radius: 3px;
}

.content,
.button {
  box-shadow: 0 1px 1px #999;
}

#nav .menu {
  display: inline-block;
  margin-bottom: 3px;
}

#nav .menu a {
  padding: 20px;
  background: orange;
  margin-right: 2px;
}

#nav .menu a:hover {
  background-color: #ffb424;
  box-shadow: 0 1px 1px #666;
}

#nav .menu a:active {
  background-color: #ff8f00;
}

#footer {
  text-align: right;
  margin: 10px;
  border-bottom: 1px #ccc solid;
}


#footer p {
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  color: grey;

}


/* -- Game layout -- */

canvas,
#board {
  border: 3px solid grey;
  display: inline-block;
  margin-top: 1em;
}

.container {
  margin-bottom: 10px;
  width: 100%;
}

#game {
  text-align: center;
}

#mines.info {
  color: gray;
  font-size: 20px;
  margin-right: 17px;
}

#game-info {
  height: 25px;
}

#game-info:hover {
  opacity: 0.8;
}

#mine-img {
  vertical-align: bottom;
  width: 25px;
}


/* -- timer -- */

.timer {
  color: gray;
  opacity: 0.9;
}

.timer p {
  color: #3d3b3c;
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: bold;
  opacity: 1;
}

.timer:hover {
  color: #0099FF;
}

/* -- Slider -- */

.slide-container {
  width: 80%;
  display: inline-block;
  margin-left: 20%;
}

.slide-container p {
  display: inline-block;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background: lightgray;
  box-shadow: inset -1px -1px 1px dimgray;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  box-shadow: inset -1px -1px 0 lightgray;
  background: orange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: orange;
  box-shadow: inset -1px -1px 0 lightgray;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

/* -- Alert -- */

#alertContainer {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

#alertBox {
  width: 350px;
  height: 250px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.alertBox-img {
  width: 100px;
  height: 100px;
  border: 0;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#alertBox h1 {
  text-align: left;
  margin: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 15%;
  color: white;
  padding: 2px 0 2px 5px;
}

#alertBox p {
  text-align: center;
  font-weight: bold;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#alertBox .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 20%;
  text-transform: uppercase;
  background-color: #97DBDB;
}

#alertBox .button:hover {
  background-color: #9be0e0;
}

a.button {
  text-decoration: none;
}

.button {
  border-radius: 3px;
  text-align: center;
  color: white;
}

.button:hover {
  box-shadow: 0 1px 1px #666;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}


.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 170px;
}

nav.floating {
  position: absolute;
  top: 100px;
  left: 50px;
  border-radius: 8px; 
  background-color: #d0d0d0;
}

.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.site-menu ul li a {
  font-family: 'Cherry Bomb One', cursive;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.site-menu ul li a {
  font-family: 'Cherry Bomb One', cursive;
}

img {
  max-width: 100%;
}


@media (max-width: 800px) {
  .site-menu ul {
      display: block;
      text-align: center;
  }

  .site-menu li {
      margin-top: 20px;
  }

  .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #ffffff;

      height: 50px;
      z-index: 10;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
      padding-left: 20px;
      padding-right: 20px;
      height: 100%;
      position: relative;
  }

  .header-logo {
      width: 50px;
  }

  .header-site-menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      color: #ffffff;
      background-color: #736e62;
      padding-top: 30px;
      padding-bottom: 50px;
      display: none;
  }

  .header-site-menu.is-show {
      display: block;
  }

  .main {
      padding-top: 50px;;
  }

  .footer-logo {
      margin-top: 60px;
  }

  .copyright {
      margin-top: 50px;
  }

  .toggle-menu-button {
      display: block;
      width: 44px;
      height: 34px;
      background-image: url(../images/common/icon-menu.png);
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      border-radius: 0;
      outline: none;
  }

  .footer {
      color: #ffffff;
      background-color: #24211b;
      padding-top: 30px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .footer-logo {
      display: block;
      width: 235px;
      margin-top: 90px;
  }
  
  .copyright {
      font-size: 14pt;
      font-weight: bold;
      margin-top: 90px;
  }
  
  .header-logo-text li{
      font-size: 15px;
      margin: 25px;
      text-align: left;
      color: #f968de;
      font-weight: bold;
      text-shadow: 1px 1px 10px #5e5654;
  }
  
  .first-view-text {
      width: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 40px;
      padding-bottom: 15px;
      color: #f7f1a4;
      font-weight: bold;
      text-shadow: 1px 1px 10px #2423238c;
  }
  
  .first-view-text h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      line-height: 40px;
  }
  
  .first-view-text p {
      font-size: 20px;
      margin-top: 20px;
      margin-left: 20px; 
      margin-top: 50px;
      margin-bottom: 25px; 
  }
  
  .lead {
      font-size: 18px;
  }
  
  nav.floating {
      position: absolute;
      font-size: 13px;
      top: 50px;
      left: 20px;
      background-color: #d0d0d0;
      padding: 5px 5px; 
      border-radius: 8px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav.floating li {
      color: #d4ff00; 
      text-decoration: none; 
      font-weight: bold; 
      margin-right: 15px; 
      transition: color 0.3s ease; 
  }
  
  nav.floating li:hover {
      color: #16cfd9; 
  }

}

