.floating {
  position: absolute;
  left: 50px;
  background-color: #fac906;
  padding: 5px 2px; /* 内側の余白を追加 */
  border-radius: 8px; /* 角丸にする */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

nav.floating li {
  color: #d4ff00; /* リンクの色 */
  text-decoration: none; /* 下線をなくす */
  font-weight: bold; /* 太字 */
  margin-right: 15px; /* リンク間の間隔 */
  transition: color 0.3s ease; /* 色の変化を滑らかにする */
}

nav.floating li:hover {
  color: #16cfd9; /* ホバー時の色 */
}

.header-inner {
  max-width: auto;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 50px;
}

.header-logo img {
  width: 75px; /* 画像の幅を50pxに設定 */
  height: auto; /* 高さは自動調整 */
}


.header-logo-text {
  flex: 1; /* 残りのスペースを取る */
  text-align: center; /* テキストを中央揃え */
}

.header-logo-text h1{
  font-size: 35px;
  text-align: center;
  color: #f968de;
  font-weight: bold;
  text-shadow: 1px 1px 10px #5e5654;
  display: inline-block; /* テキストをインラインブロックにすることで中央揃えが有効に */
}


.header {
  width: 100%;
  background: rgb(93,87,8);
  background: radial-gradient(circle, rgba(93,87,8,1) 8%, rgba(74,53,10,1) 35%);
  border: 4px solid #0c0c0c; /* 外枠を追加 (色や太さは必要に応じて調整) */
  border-radius: 10px; /* 角を丸くする（必要なら） */
}



body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2em;
  font-size: 1em;
  background: #eee;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1em;
}



h1 {
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0 0 .5em 0;
}

h3 {
  margin: 0;
  padding-top: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

.img-info {
  display: inline-block;
  width: 1.15em;
  margin-bottom: -3px;
}

.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* -- flex -- */

.flex-parent {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.flex-container {
  flex: 1 1 auto;
  justify-content: center;
}


.flex-nav-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item-1 {
  display: flex;
  flex-direction: row;
}

.footer {
  text-align: center; /* リンクを中央揃えにする */
  background-color: #06080c;
  background-image: linear-gradient(0deg, #06080c 12%, #565f3d 50%, #040303 93%);    
  margin-top: 80px; /* フッターの上に余白を追加 */
  padding: 20px; /* フッター内の上下左右に20pxの余白を追加 */
}

.site-menu ul {
  list-style-type: none; /* リストのマーカーを消去 */
  padding: 0; /* リストの余白を消去 */
}

.site-menu li {
  margin-bottom: 10px; /* リスト項目の下マージンを設定 */
  text-shadow: 1px 1px 10px #706f6f8c;
  font-size: 20px;
}



.site-menu a {
  display: block; /* リンクをブロックレベル要素にする */
  text-decoration: none; /* リンクの下線を消去 */
  color: #f7f6f6; /* リンクの色を設定 */
  padding: 10px; /* リンクのパディングを設定 */
}



@media screen and (max-width: 400px) {
  .separator {
    height: 0;
    width: 100%;
    flex-basis: 100%;
    background-color: blue;
    order: 2;
  }

  .item-1 {
    order: 3;
    margin-top: 2.5em;
  }
}


/* --  page default -- */

#page {
  margin: 20px;
}

#nav {
  width: 100%;
  margin-bottom: 20px;
  vertical-align: top;
}


.title {
  width: 100%;
  left: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 30px;
  color: grey;
}

.content {
  margin: 20px 0 0 0;
  background: white;
  padding: 20px;
  border-radius: 3px;
}

.content,
.button {
  box-shadow: 0 1px 1px #999;
}

#nav .menu {
  display: inline-block;
  margin-bottom: 3px;
}

#nav .menu a {
  padding: 20px;
  background: orange;
  margin-right: 2px;
}

#nav .menu a:hover {
  background-color: #ffb424;
  box-shadow: 0 1px 1px #666;
}

#nav .menu a:active {
  background-color: #ff8f00;
}

#footer {
  text-align: right;
  margin: 10px;
  border-bottom: 1px #ccc solid;
}


#footer p {
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  color: grey;

}


/* -- Game layout -- */

canvas,
#board {
  border: 3px solid grey;
  display: inline-block;
  margin-top: 1em;
}

.container {
  margin-bottom: 10px;
  width: 100%;
}

#game {
  text-align: center;
}

#mines.info {
  color: gray;
  font-size: 20px;
  margin-right: 17px;
}

#game-info {
  height: 25px;
}

#game-info:hover {
  opacity: 0.8;
}

#mine-img {
  vertical-align: bottom;
  width: 25px;
}


/* -- timer -- */

.timer {
  color: gray;
  opacity: 0.9;
}

.timer p {
  color: #3d3b3c;
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: bold;
  opacity: 1;
}

.timer:hover {
  color: #0099FF;
}

/* -- Slider -- */

.slide-container {
  width: 80%;
  display: inline-block;
  margin-left: 20%;
}

.slide-container p {
  display: inline-block;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background: lightgray;
  box-shadow: inset -1px -1px 1px dimgray;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  box-shadow: inset -1px -1px 0 lightgray;
  background: orange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: orange;
  box-shadow: inset -1px -1px 0 lightgray;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

/* -- Alert -- */

#alertContainer {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

#alertBox {
  width: 350px;
  height: 250px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.alertBox-img {
  width: 100px;
  height: 100px;
  border: 0;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#alertBox h1 {
  text-align: left;
  margin: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 15%;
  color: white;
  padding: 2px 0 2px 5px;
}

#alertBox p {
  text-align: center;
  font-weight: bold;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#alertBox .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 20%;
  text-transform: uppercase;
  background-color: #97DBDB;
}

#alertBox .button:hover {
  background-color: #9be0e0;
}

a.button {
  text-decoration: none;
}

.button {
  border-radius: 3px;
  text-align: center;
  color: white;
}

.button:hover {
  box-shadow: 0 1px 1px #666;
}

.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  width: 170px;
}


nav.floating {
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: #d0d0d0;
}

.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.site-menu ul li a {
  font-family: 'Cherry Bomb One', cursive;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.site-menu ul li a {
  font-family: 'Cherry Bomb One', cursive;
}

img {
  max-width: 100%;
}


